<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<form th:action="@{/}" th:object="${person}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Mail</th>
            <th scope="col">Password</th>
            <th scope="col">Operations</th>
        </tr>
        </thead>
        <tr th:each="person : ${person}">
            <td th:text="${person.username}"/>
            <td th:text="${person.lastName}"/>
            <td th:text="${person.email}"/>
            <td th:text="${person.password}"/>
            <td><a th:href="@{admin/updateUser(id=${person.id})}"> Update </a>
                <a th:href="@{admin/deleteUser(id=${person.id})}"> Delete </a></td>
        </tr>
    </table>
    <br>
    <input type="button" value="Add"
           onclick="window.location.href =`admin/addNewUser`  "/>
    <br>
    <br>
    <input type="button" value="Logout"
           onclick="window.location.href =`/logout`  "/>
</form>
</body>
</html>